{% extends "Vigilantix/layout.html" %} {% load static %}{% block body %}
{% load static %}  
{% comment %} <div>
    
</div> {% endcomment %}

<div class="grid grid-flow-col gap-2">
   <div class="bg-gray-600 px-8 col-span-1 w-30">
    <h2 class="text-2xl font-bold">Search</h2>
    <br>
    <form action="/search" method="post" class="px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Latitude">
            Latitude
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Latitude" type="text" name="latitude" placeholder="Latitude" value="{{latitudef}}">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Longitude">
            Longitude
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Longitude" type="text" name="longitude" placeholder="Longitude" value="{{longitudef}}">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Radius">
            Radius
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Radius" type="number" name="radius" placeholder="Radius" value="3">
        </div>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-100 w-full cursor-not-allowed">
          <input type="submit" value="OK">
        </button>
    </form>
    <button onclick="bttnIS()">Get Location</button>
  </div>
  <div class="bg-red-100 col-span-4 ">
    {{ my_map|safe }}
  </div>
</div>


{% endblock %} 
{% block script %}
<!-- Add JS -->
<script src="{% static 'location.js' %}">
</script>
{% endblock %}